<h2>{{ title }}</h2>
<div class="row">
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='shoes'" (click)="filterBy='shoes'">Shoes</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='pen'" (click)="filterBy='pen'">Pen</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='gym'" (click)="filterBy='gym'">Gym</button>
	<button class="btn btn-lg btn-info" [class.active]="filterBy=='fruits'" (click)="filterBy='fruits'">Fruits</button>
	<ul id="thumbnailslist">
		<li *ngFor = "let image of (visibleImages | imageFilter:filterBy)">
			<a [routerLink] = "['/image', image.id]">
				<img src="{{image.url}}" class="tn" width="100" height="100">
			</a>
		</li>
	</ul>
</div>